body {
	background: #384047;
	font-family: Lucida Sans Unicode;
  font-size: 0.9em;
}

section{
  background: white;
  width: 30%;
  display: block;
  border: solid 1px;
  border-radius: 10px;
  box-shadow: 5px 10px;
  margin: auto;
}

section *{
  position: relative;
  display: flex;
  justify-content: center;
}

.button{
  background-color: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
  /* background-color: #AAAAAA; */
}

form{
  margin: 10px;
}

#resp{
  margin: 10px;
}
